.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	width: 100%;

	@include blur;

	.footer-row {
		position: relative;
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: space-between;
		align-self: center;
		margin-bottom: 64px;
		padding: 16px 72px;
		max-width: 1600px;
		box-sizing: border-box;
		width: 100%;

		.footer-description {
			margin-right: 16px;

			.footer-title {
				font-weight: bold;
				font-size: 23px;
				text-align: start;
				text-decoration: none;
				color: $white;
			}

			.footer-copyright {
				margin: 0;
				color: darken($white, 30%);
				font-size: 14px !important;

				a {
					color: $white;
					opacity: 1;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.footer-links {
			display: flex;
			justify-content: space-between;
			flex: 1;
			max-width: 395px;

			.footer-column {
				margin-bottom: 64px;
				width: 160px;
				display: flex;
				flex-direction: column;

				.footer-link {
					font-size: 14px;
					font-weight: 400;
					color: darken($white, 30%);
					padding-bottom: 15px;
					transition: color 175ms ease-out 0s;

					&:hover {
						color: $white;
					}
				}

				.footer-dropdown {
					a {
						svg, img {
							height: 16px;
							width: 16px;

							vertical-align: middle;
						}

						span {
							margin: 0 5px;
						}

						&:hover + .footer-dropdown-nav {
							display: block;
						}
					}

					//noinspection DuplicatedCode
					.footer-dropdown-nav {
						display: none;
						position: absolute;
						z-index: 1020;
						box-sizing: border-box;

						width: fit-content;
						padding: 6px 12px;

						border-radius: 5px;
						border-top: 1px solid rgba(255, 255, 255, .1);
						border-left: 1px solid rgba(255, 255, 255, .1);

						box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
						background: $dark;

						margin: 0;

						list-style: none;
						font-size: 14px;

						> li {
							border-bottom: 1px solid darken($light, 69%);

							margin: 5px 0;

							&:last-of-type {
								border-bottom: none;
							}

							&:first-of-type, &:last-of-type {
								margin: 0;
							}

							button {
								color: $white;
								font-weight: 600;
								font-size: 12px;

								display: block;

								cursor: pointer;
								opacity: .5;

								padding: 5px 0;
								transition: opacity .3s ease-out 0s;

								background-color: transparent;
								outline: none;
								border: none;

								width: 100%;

								text-align: left;

								margin: 10px 0;

								img {
									height: 16px;
									width: 16px;

									vertical-align: middle;
								}

								&.active {
									opacity: .7;
								}

								&:hover {
									opacity: 1;
								}
							}
						}

						&:hover {
							display: block;
						}
					}
				}
			}
		}

		.footer-sub-description {
			width: 749px;
			margin-bottom: 0;

			.footer-title {
				padding: 0;
				text-transform: uppercase;
				color: $white;
				font-size: 17px;
				font-weight: 600;
				display: flex;
				flex-direction: row;
				align-items: center;
				line-height: 1;


				@media (max-width: $breakpoint-small-max) {
					line-height: 2.2;
				}
			}

			.footer-subtitle {
				color: darken($white, 30%);
			}
		}

		&:first-of-type {
			border-bottom: 1px solid darken($light, 60%);
			align-items: flex-start;
			padding-top: 64px;
			margin-bottom: 0;
		}

		@media (max-width: $breakpoint-small-max) {
			text-align: center;
			flex-direction: column;

			.footer-description, .footer-sub-description {
				width: 100%;

				.footer-title {
					justify-content: center;
				}
			}

			.footer-links {
				margin: 20px auto 0 auto;
				width: 100%;
				justify-content: center;

				.footer-column {
					flex-direction: column;
					width: 100%;
				}
			}

			&:last-of-type {
				.footer-sub-description {
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
}
