.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;

	position: relative;
	width: 100%;

	@include blur;

	.footer-row {
		position: relative;
		flex-direction: row;
		display: flex;
		align-items: center;
		justify-content: space-between;
		align-self: center;
		margin-bottom: 64px;
		padding: 16px 72px;
		max-width: 1600px;
		box-sizing: border-box;
		width: 100%;

		.footer-description {
			margin-right: 16px;
			min-width: 250px;

			.footer-title {
				font-weight: bold;
				font-size: 23px;
				text-align: start;
				text-decoration: none;
				color: $white;
			}

			.footer-copyright {
				margin: 0;
				color: darken($white, 30%);
				font-size: 14px !important;

				a {
					color: $white;
					opacity: 1;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		.footer-links {
			display: flex;
			justify-content: space-between;
			flex: 1;
			max-width: 395px;

			.footer-column {
				margin-bottom: 64px;
				width: 160px;
				display: flex;
				flex-direction: column;

				.footer-link {
					font-size: 14px;
					font-weight: 400;
					color: darken($white, 30%);
					padding-bottom: 15px;
					transition: color 175ms ease-out 0s;

					&:hover {
						color: $white;
					}
				}
			}
		}

		.footer-sub-description {
			width: 749px;
			margin-bottom: 0;

			.footer-title {
				padding: 0;
				text-transform: uppercase;
				color: $white;
				font-size: 17px;
				font-weight: 600;
				display: flex;
				flex-direction: row;
				align-items: center;
				line-height: 1;


				@media (max-width: $breakpoint-small-max) {
					line-height: 2.2;
				}
			}

			.footer-subtitle {
				color: darken($white, 30%);
			}
		}

		&:first-of-type {
			border-bottom: 1px solid darken($light, 60%);
			align-items: flex-start;
			padding-top: 64px;
			margin-bottom: 0;
		}

		@media (max-width: $breakpoint-small-max) {
			text-align: center;
			flex-direction: column;

			.footer-description, .footer-sub-description {
				width: 100%;

				.footer-title {
					justify-content: center;
				}
			}

			.footer-links {
				margin: 20px auto 0 auto;
				width: 100%;
				justify-content: center;

				.footer-column {
					flex-direction: column;
					width: 100%;
				}
			}

			&:last-of-type {
				.footer-sub-description {
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
}
