.hero {
	display: flex;
	justify-content: center;

	padding-top: 100px;
	padding-bottom: 300px;

	@media (max-width: $breakpoint-xsmall-max) {
		padding-top: 20px;
	}

	.hero-container {
		flex-direction: column;
		align-items: center;

		.hero-title {
			font-size: 38px;
			text-align: center;

			line-height: 42px;

			color: $white;
			padding: 20px 0 0 0;
			font-weight: 600;

			@media (max-width: $breakpoint-xsmall-max) {
				font-size: 30px;
				line-height: 30px;

				margin-left: 20px;
				margin-right: 20px;

				padding-bottom: 20px;
			}
		}

		.hero-subtitle {
			color: darken($light, 30%);
			font-size: 19px;
			margin-bottom: 18px;
			text-align: center;
			line-height: 1.8;

			@media (max-width: $breakpoint-xsmall-max) {
				font-size: 10px;

				margin-left: 20px;
				margin-right: 20px;
			}
		}

		.hero-illustration {
			display: block;
			max-width: 1000px;
			margin: 50px auto;
			width: 100%;

			@media (min-width: $breakpoint-medium) {
				padding: 40px 150px;
				//@include blur;
			}
		}

		.hero-buttons {
			display: flex;
			//margin-top: 50px;
			justify-content: center;

			.hero-button {
				width: 300px;

				&:first-of-type {
					margin-inline-end: 30px;
				}
			}

			@media (max-width: $breakpoint-xsmall-max) {
				flex-direction: column;

				.hero-button {
					&:first-of-type {
						margin-inline-end: 0;
						margin-bottom: 20px;
					}

					align-self: center;
				}
			}
		}
	}
}
