::-webkit-scrollbar {
	width: 22px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border: 8px solid rgba(0, 0, 0, 0);
	border-radius: 12px;

	background-clip: padding-box;
	background-color: darken($light, 42%);
}
