.button {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  min-height: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 30px;
  color: #fff;
  transition: border 180ms ease-out, background 180ms ease-out;
}

.button-primary {
  background-color: #6f84d3;
}
.button-primary:hover {
  background-color: #4863c7;
}

.button-black {
  background-color: #000;
  color: #fff;
}
.button-black:hover {
  background-color: #1a1a1a;
}

.button-large {
  height: 60px;
  font-size: 18px;
}

.icon {
  margin: 0 15px;
}

.icon-small {
  width: 32px;
  height: 32px;
}

.icon-medium {
  width: 48px;
  height: 48px;
}

.icon-large {
  width: 64px;
  height: 64px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  padding: 0 32px;
  background: rgba(100, 100, 100, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-title {
  font-weight: bold;
  color: #fff;
  font-size: 23px;
  letter-spacing: 0.55px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.navbar .navbar-left, .navbar .navbar-right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 30px;
}
.navbar .navbar-right {
  margin-left: auto;
}
.navbar .navbar-nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar .navbar-nav .navbar-dropdown {
  display: none;
  position: absolute;
  z-index: 1020;
  box-sizing: border-box;
  width: 150px;
  padding: 25px;
  background: rgba(100, 100, 100, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-nav .navbar-dropdown .navbar-dropdown-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}
.navbar .navbar-nav .navbar-dropdown .navbar-dropdown-nav > li > a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  display: block;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
  padding: 5px 0;
  transition: opacity 175ms ease-out 0s;
}
.navbar .navbar-nav .navbar-dropdown .navbar-dropdown-nav > li > a:hover {
  opacity: 1;
}
.navbar .navbar-nav > li > a {
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
  padding: 15px 10px;
  transition: opacity 175ms ease-out 0s;
}
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:active {
  opacity: 1;
}
.navbar .navbar-nav > li > a:hover + .navbar-dropdown, .navbar .navbar-nav > li > a:active + .navbar-dropdown {
  display: block;
}
.navbar .navbar-nav > li > a span {
  vertical-align: 12px;
}
.navbar .navbar-nav > li > a img {
  border-radius: 50%;
}
.navbar .navbar-nav .navbar-dropdown:hover, .navbar .navbar-nav .navbar-dropdown:active {
  display: block;
}

.hero {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 300px;
}
.hero .hero-container {
  z-index: 1;
  flex-direction: column;
  align-items: center;
}
.hero .hero-container .hero-title {
  font-size: 38px;
  text-align: center;
  color: #fff;
  padding: 20px 0 0 0;
  font-weight: 600;
}
.hero .hero-container .hero-subtitle {
  color: #96969f;
  font-size: 19px;
  margin-bottom: 18px;
  text-align: center;
  line-height: 1.8;
}
.hero .hero-container .hero-illustration {
  display: block;
  max-width: 600px;
  margin: 50px auto;
  width: 100%;
}
@media (min-width: 960px) {
  .hero .hero-container .hero-illustration {
    padding: 40px 150px;
  }
}
.hero .hero-container .hero-buttons {
  display: flex;
  justify-content: center;
}
.hero .hero-container .hero-buttons .hero-button {
  width: 300px;
}
.hero .hero-container .hero-buttons .hero-button:first-of-type {
  margin-inline-end: 30px;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
}
.section .section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1440px;
}
@media (min-width: 960px) {
  .section .section-container {
    flex-direction: row;
    padding: 20px;
    background: rgba(100, 100, 100, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  }
}
.section .section-container .section-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.section .section-container .section-text .section-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5em;
  color: #fff;
  margin-top: 0;
  padding: 20px 0 10px 0;
}
.section .section-container .section-text .section-description {
  font-size: 19px;
  color: #96969f;
  line-height: 1.8em;
  margin-top: 5px;
}
.section .section-container .section-illustration {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .section-container .section-illustration img {
  width: 100%;
}
.section:after {
  content: "";
  display: block;
  width: 50%;
  margin: 150px 0;
}
.section:first-of-type:before {
  content: "";
  display: block;
  width: 50%;
  margin: 100px 0;
}
@media (min-width: 960px) {
  .section:nth-of-type(even) .section-text {
    padding-inline-start: 100px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #16171a;
  font-family: sans-serif;
}
body .circles {
  z-index: -1;
}
body .circles .circle1 {
  content: "";
  background: linear-gradient(#283a81, #04060c);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(30% at left 10%);
}
body .circles .circle2 {
  content: "";
  background: linear-gradient(#283a81, #04060c);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(30% at right 90%);
}

/*# sourceMappingURL=project.css.map */
