{% extends "layouts/base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
  <main class="http-error">
    <section class="uk-section uk-preserve-color">
      <div class="uk-container">
        <div class="uk-card uk-card-default">
          <div class="uk-card-body">
            <h1 class="uk-card-title">
              Page not found (404)
            </h1>

            <p>This is not the page you were looking for.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}
