{% load static %}
{% load i18n %}
<header class="navbar">
	<div class="navbar-full">
		<a href="{% url 'pages:home' %}" class="navbar-title">TUXBOT</a>
		<nav class="navbar-left" aria-label="Related links">
			<ul class="navbar-nav">
				<li {% if request.resolver_match.url_name == 'wiki' %} class="active" {% endif %}>
					<a href="#">{% trans 'Wiki' %}</a>
					<div class="navbar-dropdown">
						<ul class="navbar-dropdown-nav">
							<li><a href="#">Admin</a></li>
							<li><a href="#">ID</a></li>
							<li><a href="#">Linux</a></li>
							<li><a href="#">Network</a></li>
							<li><a href="#">Poll</a></li>
							<li><a href="#">Utils</a></li>
							<li><a href="#">Vocal</a></li>
							<li><a href="#">World</a></li>
						</ul>
					</div>
				</li>
				<li {% if request.resolver_match.url_name == 'sources' %} class="active" {% endif %}>
					<a href="{% url 'pages:sources' %}">{% trans 'Sources' %}</a>
				</li>
				<li {% if request.resolver_match.url_name == 'contact' %} class="active" {% endif %}>
					<a href="{% url 'pages:contact' %}">{% trans 'Contact' %}</a>
				</li>
				<li>
					<a href="https://discord.gg/URKy7yd" target="_blank">{% trans 'Support Server' %}</a>
				</li>
			</ul>
		</nav>
		<nav class="navbar-right" aria-label="Profile links">
			<ul class="navbar-nav">
				{% if not request.user.is_authenticated %}
					<li>
						<a href="{% url 'account_login' %}" class="button button-link">{% trans "Login" %}</a>
					</li>
				{% else %}
					<li>
						<a href="#">
							<img alt src="https://cdn.discordapp.com/avatars/269156684155453451/ff06e3b4ebd8ac5b4cad78a0a968e95a.png?size=32">
							<span>{{ request.user.username }}</span>
							<svg class="icon icon-small margin-clear">
								<use href="{% static 'images/icons/sort.svg' %}#sort"></use>
							</svg>
						</a>
						<div class="navbar-dropdown">
							<ul class="navbar-dropdown-nav">
								<li>
									<a href="{% url 'users:detail' request.user.username %}">{% trans 'My Servers' %}</a>
								</li>
								<li>
									<a href="#">{% trans 'Settings' %}</a>
								</li>
								<li>
									<a href="{% url 'account_logout' %}" class="text-danger">{% trans 'Logout' %}</a>
								</li>
							</ul>
						</div>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>

	<div class="navbar-responsive">
		<a class="navbar-hamburger" href="#">
			<div></div>
			<div></div>
			<div></div>
		</a>
		<a href="{% url 'pages:home' %}" class="navbar-title">TUXBOT</a>

		<div class="navbar-profile">
			{% if not request.user.is_authenticated %}
				<a href="{% url 'account_login' %}" class="button button-link padding-clear">{% trans "Login" %}</a>
			{% else %}
				<a href="#">
					<img alt src="https://cdn.discordapp.com/avatars/269156684155453451/ff06e3b4ebd8ac5b4cad78a0a968e95a.png?size=32">
					<svg class="icon icon-small margin-clear">
						<use href="{% static 'images/icons/sort.svg' %}#sort"></use>
					</svg>
				</a>
				<div class="navbar-dropdown">
					<ul class="navbar-dropdown-nav">
						<li>
							<a href="{% url 'users:detail' request.user.username %}">{% trans 'My Servers' %}</a>
						</li>
						<li>
							<a href="#">{% trans 'Settings' %}</a>
						</li>
						<li>
							<a href="{% url 'account_logout' %}" class="text-danger">{% trans 'Logout' %}</a>
						</li>
					</ul>
				</div>
			{% endif %}
		</div>

		<div class="navbar-break"></div>

		<div class="navbar-sidebar">
			<ul class="navbar-nav">
				<li {% if request.resolver_match.url_name == 'wiki' %} class="active" {% endif %}>
					<a href="#">{% trans 'Wiki' %}</a>
				</li>
				<li {% if request.resolver_match.url_name == 'sources' %} class="active" {% endif %}>
					<a href="{% url 'pages:sources' %}">{% trans 'Sources' %}</a>
				</li>
				<li {% if request.resolver_match.url_name == 'contact' %} class="active" {% endif %}>
					<a href="{% url 'pages:contact' %}">{% trans 'Contact' %}</a>
				</li>
				<li>
					<a href="https://discord.gg/URKy7yd" target="_blank">{% trans 'Support Server' %}</a>
				</li>
			</ul>
		</div>
	</div>
</header>
