// ==============================================
// Margin
// ==============================================

.margin {
	margin-bottom: 20px !important;
}

.margin-top {
	margin-top: 20px !important;
}

.margin-bottom {
	margin-bottom: 20px !important;
}

.margin-left {
	margin-left: 20px !important;
}

.margin-right {
	margin-right: 20px !important;
}

// =============== small ===============

.margin-small {
	margin-bottom: 10px !important;
}

.margin-small-top {
	margin-top: 10px !important;
}

.margin-small-bottom {
	margin-bottom: 10px !important;
}

.margin-small-left {
	margin-left: 10px !important;
}

.margin-small-right {
	margin-right: 10px !important;
}

// =============== medium ===============

.margin-medium {
	margin-bottom: 40px !important;
}

.margin-medium-top {
	margin-top: 40px !important;
}

.margin-medium-bottom {
	margin-bottom: 40px !important;
}

.margin-medium-left {
	margin-left: 40px !important;
}

.margin-medium-right {
	margin-right: 40px !important;
}

// =============== large ===============

.margin-large {
	margin-bottom: 70px !important;
}

.margin-large-top {
	margin-top: 70px !important;
}

.margin-large-bottom {
	margin-bottom: 70px !important;
}

.margin-large-left {
	margin-left: 70px !important;
}

.margin-large-right {
	margin-right: 70px !important;
}

// =============== clear ===============

.margin-clear {
	margin: 0 !important;
}

.margin-top-clear {
	margin-top: 0 !important;
}

.margin-bottom-clear {
	margin-bottom: 0 !important;
}

.margin-left-clear {
	margin-left: 0 !important;
}

.margin-right-clear {
	margin-right: 0 !important;
}

// ==============================================
// Padding
// ==============================================

.padding {
	padding-bottom: 30px !important;
}

.padding-top {
	padding-top: 30px !important;
}

.padding-bottom {
	padding-bottom: 30px !important;
}

.padding-left {
	padding-left: 30px !important;
}

.padding-right {
	padding-right: 30px !important;
}

// =============== small ===============

.padding-small {
	padding-bottom: 15px !important;
}

.padding-small-top {
	padding-top: 15px !important;
}

.padding-small-bottom {
	padding-bottom: 15px !important;
}

.padding-small-left {
	padding-left: 15px !important;
}

.padding-small-right {
	padding-right: 15px !important;
}

// =============== large ===============

.padding-large {
	padding-bottom: 70px !important;
}

.padding-large-top {
	padding-top: 70px !important;
}

.padding-large-bottom {
	padding-bottom: 70px !important;
}

.padding-large-left {
	padding-left: 70px !important;
}

.padding-large-right {
	padding-right: 70px !important;
}


// =============== clear ===============

.padding-clear {
	padding: 0 !important;
}

.padding-top-clear {
	padding-top: 0 !important;
}

.padding-bottom-clear {
	padding-bottom: 0 !important;
}

.padding-left-clear {
	padding-left: 0 !important;
}

.padding-right-clear {
	padding-right: 0 !important;
}
