// ==============================================
// Padding
// ==============================================

.padding {
	padding-bottom: 30px !important;
}

.padding-top {
	padding-top: 30px !important;
}

.padding-bottom {
	padding-bottom: 30px !important;
}

.padding-left {
	padding-left: 30px !important;
}

.padding-right {
	padding-right: 30px !important;
}

// =============== small ===============

.padding-small {
	padding-bottom: 15px !important;
}

.padding-small-top {
	padding-top: 15px !important;
}

.padding-small-bottom {
	padding-bottom: 15px !important;
}

.padding-small-left {
	padding-left: 15px !important;
}

.padding-small-right {
	padding-right: 15px !important;
}

// =============== large ===============

.padding-large {
	padding-bottom: 70px !important;
}

.padding-large-top {
	padding-top: 70px !important;
}

.padding-large-bottom {
	padding-bottom: 70px !important;
}

.padding-large-left {
	padding-left: 70px !important;
}

.padding-large-right {
	padding-right: 70px !important;
}

// =============== xlarge ===============

.padding-xlarge {
	padding-bottom: 130px !important;
}

.padding-xlarge-top {
	padding-top: 130px !important;
}

.padding-xlarge-bottom {
	padding-bottom: 130px !important;
}

.padding-xlarge-left {
	padding-left: 130px !important;
}

.padding-xlarge-right {
	padding-right: 130px !important;
}

// =============== clear ===============

.padding-clear {
	padding: 0 !important;
}

.padding-top-clear {
	padding-top: 0 !important;
}

.padding-bottom-clear {
	padding-bottom: 0 !important;
}

.padding-left-clear {
	padding-left: 0 !important;
}

.padding-right-clear {
	padding-right: 0 !important;
}
