@import "lib/uikit/uikit.min.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #404eed;
}

* {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}


.min-height-100vh {
  min-height: 100vh
}

.min-height-85vh {
  min-height: 85vh
}

.text-white {
  color: white !important;
}

.text-white-2 {
  color: rgb(224, 224, 224)
}
