{% spaceless %}
{% load static i18n compress %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}Tuxbot - Web Page{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tuxbot Web Administration">
	<meta name="author" content="Romain J.">

	<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

	{% block css %}
		{% compress css %}
			<link href="{% static 'css/project.css' %}" rel="stylesheet">
		{% endcompress %}
	{% endblock %}

	{% block javascript %}
		{% compress js %}
			{% if not DEBUG %}<script defer src="{% static 'js/lib/turbolinks.js' %}"></script>{% endif %}
			<script defer src="{% static 'js/project.js' %}"></script>
		{% endcompress %}
	{% endblock javascript %}
</head>

<body>

<div class="circles">
	<div class="circle1"></div>
	<div class="circle2"></div>
</div>

{% include 'layouts/parts/navbar.html' %}

<div class="container" id="app">
	{% if messages %}
		<div class="row justify-content-center" style="margin-bottom: -100px">
			{% for message in messages %}
				<div class="col col-8 col-sm-8 col-md-6 col-lg-6">
					{% include 'layouts/parts/notification.html' %}
				</div>

				<div class="w-100"></div>
			{% endfor %}
		</div>
	{% endif %}

	{% block content %}{% endblock content %}

</div>

{% include 'layouts/parts/footer.html' %}

{% block inline_javascript %}{% endblock inline_javascript %}
</body>
</html>
{% endspaceless %}
