{% spaceless %}
{% load static i18n compress %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% block title %}Tuxbot - Web Page{% endblock title %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Tuxbot Web Administration">
	<meta name="author" content="Romain J.">

	<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

	{% block css %}
		{% compress css %}
			<link href="{% static 'css/project.css' %}" rel="stylesheet">
		{% endcompress %}
	{% endblock %}

	{% block javascript %}
		{% compress js %}
			<script defer src="{% static 'js/project.js' %}"></script>
		{% endcompress %}
	{% endblock javascript %}
</head>

<body>

<div class="circles">
	<div class="circle1"></div>
	<div class="circle2"></div>
</div>

{% include 'layouts/parts/navbar.html' %}

<div class="container">

	{% if messages %}
		{% for message in messages %}
			{% include 'layouts/parts/notification.html' %}
		{% endfor %}
	{% endif %}

	{% block content %}{% endblock content %}

</div>

{% include 'layouts/parts/footer.html' %}

{% block inline_javascript %}{% endblock inline_javascript %}
</body>
</html>
{% endspaceless %}
