.alert {
	margin: 24px auto;
	padding: 16px;
	width: 100%;

	align-items: center;
	display: flex;
	position: relative;

	line-height: 1.2;
	border-bottom: 3px solid $dark-blue-6;
	color: $white;

	background-color: $dark-blue-6;
	border-radius: 3px;

	&.alert-info {
		border-bottom-color: $color-info
	}

	&.alert-success {
		border-bottom-color: $color-success
	}

	&.alert-warning {
		border-bottom-color: $color-warning
	}

	&.alert-danger {
		border-bottom-color: $color-danger
	}
}
