////////////////////////////////
//Variables//
////////////////////////////////

$white: #fff;
$black: #000;

$blue: #6f84d3;
$dark-blue-1: darken($blue, 10%);
$dark-blue-2: darken($blue, 20%);
$dark-blue-3: darken($blue, 30%);
$dark-blue-4: darken($blue, 40%);
$dark-blue-5: darken($blue, 50%);
$dark-blue-6: darken($blue, 60%);

$light-blue-1: lighten($blue, 10%);
$light-blue-2: lighten($blue, 20%);
$light-blue-3: lighten($blue, 30%);
$light-blue-4: lighten($blue, 40%);
$light-blue-5: lighten($blue, 50%);
$light-blue-6: lighten($blue, 60%);

$dark: #16171a;
$light: #e6e6e8;
