////////////////////////////////
//Variables//
////////////////////////////////

$white: #fff;
$black: #000;

$blue: #6f84d3;
$dark-blue-1: darken($blue, 10%);
$dark-blue-2: darken($blue, 20%);
$dark-blue-3: darken($blue, 30%);
$dark-blue-4: darken($blue, 40%);
$dark-blue-5: darken($blue, 50%);
$dark-blue-6: darken($blue, 60%);

$light-blue-1: lighten($blue, 10%);
$light-blue-2: lighten($blue, 20%);
$light-blue-3: lighten($blue, 30%);
$light-blue-4: lighten($blue, 40%);
$light-blue-5: lighten($blue, 50%);
$light-blue-6: lighten($blue, 60%);

$dark: #16171a;
$light: #e6e6e8;


// credit to https://github.com/uikit/uikit/blob/develop/src/scss/variables.scss#L1031-L1038
$breakpoint-small: 650px !default;
$breakpoint-medium: 960px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1600px !default;
$breakpoint-xsmall-max: ($breakpoint-small - 1) !default;
$breakpoint-small-max: ($breakpoint-medium - 1) !default;
$breakpoint-medium-max: ($breakpoint-large - 1) !default;
$breakpoint-large-max: ($breakpoint-xlarge - 1) !default;
